body {
   background-color: #dad8d8;
}

.container {
    font-family: 'Roboto Condensed', sans-serif;

}

.navbar {
    font-size: 18px;
    background-color: #003459;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.nav-link {
    color: white;
}

.square1 {
    background-image: url(images/classroom.jpg);
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
    height: 100vh;
    margin-top: 5%;
    background-size: cover;
    z-index: 99;
    /* filter: blur(2px); */
}

.flbx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: white;
    border-radius: 15px;
    border: 2px solid #003459;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 4px 4px 2px #6e6e6e;
    height: 30%;
    width: 50%;
}

.phrase {
    color: #003459; 
    text-align: center; 
    font-size: 30px;
    margin-top: 50px;
}

.square2 {
    background-color: #FFFFFF;
    /* height: 520px; */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
    padding: 30px;
}

.whatcanyou {
    text-align: center;
    font-family: 'Francois One', sans-serif;
    color: #003459;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}

.icon {
    margin-left: 70px;
}

p {
    text-align: center;
    padding-right: 150px;
}

.now {
    /* position: relative; */
    width: 90%;
    height: 70px;
    /* margin-left: 500px; */
    margin-top: 20px;
    background-color: #003459;
}

.imageDiv {
    background-size: 100% auto;
}

.square3 {
    background-color: #007EA7;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
}

.howowkrs {
    font-family: 'Francois One', sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}

.instructions {
    color: white;
    font-size: 30px;
    text-align: left;
}

@media only screen and (max-width: 600px){
    .square1 {
        background-image: url(images/classroom.jpg);
        background-repeat: no-repeat;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 8px 3px #999;
        height: 100vh;
        margin-top: 5%;
        background-size: cover;
        z-index: 99;
        background-position: center;
        /* filter: blur(2px); */
    }

    .banner {
        background-color: white;
        border-radius: 15px;
        border: 2px solid #003459;
        font-family: 'Oswald', sans-serif;
        box-shadow: 0 4px 4px 2px #6e6e6e;
        height: 28%;
        width: 70%;
    }

    .phrase {
        color: #003459; 
        text-align: center; 
        font-size: 28px;
        margin-top: 25px;
        padding: 10px;
    }

    .icon {
        margin-left: 50px;
    }
}