body {
   background-color: #dad8d8;
}

.container {
    font-family: 'Roboto Condensed', sans-serif;

}

.navbar {
    font-size: 18px;
    background-color: #003459;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.nav-link {
    color: white;
}

.square1 {
    background-color: blue;
    background-image: url(images/classroom.jpg);
    height: 650%;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
    width: 500px;
}

.square2 {
    background-color: #FFFFFF;
    height: 520px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
}
img {
    margin-top: 18%;
}
.banner {
    background-color: white;
    border-radius: 15px;
    margin-top: 150px;
    margin-right: 40px;
    border: 2px solid #003459;
    font-family: 'Oswald', sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
    padding: 10px;
}

h4{
    margin-top: 10px;
    text-align: center;
    color: #003459;
}

p {
    text-align: center;
    padding-right: 150px;
}

.now {
    /* position: relative; */
    width: 90%;
    height: 70px;
    /* margin-left: 500px; */
    margin-top: 20px;
    background-color: #003459;
}

.imageDiv {
    background-size: 100% auto;
}

.square3 {
    background-color: #007EA7;
    height: 520px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.instructions {
    color: white;
    font-size: 30px;
    text-align: left;
}