body {
   background-color: #dad8d8;
}

.container {
    font-family: 'Quicksand', sans-serif;

}

.navbar {
    font-size: 18px;
    background-color: #003459;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.nav-link {
    color: white;
}

.square1 {
    background-image: url(images/classroom3.jpg);
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
    height: 100vh;
    margin-top: 5%;
    background-size: cover;
    z-index: 99;
}

.flbx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: white;
    border-radius: 15px;
    border: 2px solid #003459;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 4px 4px 2px #6e6e6e;
    height: 30%;
    width: 50%;
    padding: 10px;
}

.phrase {
    color: #FFFFFF; 
    text-align: center; 
    font-size: 40px;
    margin-top: 35px;
    font-weight: bolder;
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px #003459;
    /* background-color: #003459; */
    padding: 10px;
}

.square2 {
    background-color: #FFFFFF;
    /* height: 520px; */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
    padding: 30px;
}

.whatcanyou {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #003459;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}

.icon {
    margin-left: 70px;
}

.service {
    text-align: center;
    padding-right: 150px;
    margin-left: -45px;
}

.now {
    /* position: relative; */
    width: 90%;
    height: 70px;
    /* margin-left: 500px; */
    margin-top: 20px;
    background-color: #003459;
}

.imageDiv {
    background-size: 100% auto;
}

.square3 {
    background-color: #007EA7;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
    padding: 10px;
    padding-bottom: 20px;
}

.howowkrs {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}

.instructions {
    color: white;
    font-size: 30px;
    text-align: left;
}

.instruction1{
    font-size: 20px;
    color: white;
    margin-left: 22%;
    text-align: center;
}

.instruction2{
    font-size: 20px;
    color: white;
    margin-left: 0%;
    text-align: center;
}

.instruction3{
    font-size: 20px;
    color: white;
    margin-left: 0%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #003459;
}

footer {
    background-color: #003459;
    color: white;
    font-size: 13px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px 3px #999;
    padding: 10px;
}

footer a {
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 10px;
    transition: all .5s ease;
}

footer a:hover {
    color: white;
}

@media only screen and (max-width: 600px){
    .square1 {
        background-image: url(images/classroom.jpg);
        background-repeat: no-repeat;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 8px 3px #999;
        height: 100vh;
        margin-top: 5%;
        background-size: cover;
        z-index: 99;
        background-position: center;
        /* filter: blur(2px); */
    }

    .banner {
        background-color: white;
        border-radius: 15px;
        border: 2px solid #003459;
        font-family: 'Quicksand', sans-serif;
        box-shadow: 0 4px 4px 2px #6e6e6e;
        height: 28%;
        width: 70%;
    }

    .phrase {
        color: white; 
        text-align: center; 
        font-size: 25px;
        margin-top: -10px;
        padding: 10px;
    }

    .icon {
        margin-left: 50px;
    }

    .instruction1{
        font-size: 15px;
        color: white;
        margin-left: 0%;
        text-align: center;
    }
    
    .instruction2{
        font-size: 15px;
        color: white;
        margin-left: 0%;
        text-align: center;
    }
    
    .instruction3{
        font-size: 15px;
        color: white;
        margin-left: 0%;
        text-align: center;
    }

    .how {
        width: 25%;
    }
}