.word-row {
    font-family: monospace;
    font-size: 1rem;
    font-weight: 500;
    line-height: .3em;
    letter-spacing: .5em;
    margin-top: 1em;
}

#display-crossword {
    padding-top: 6%;
    padding-bottom: 5%;
}

li {
    display: inline-block;
    min-width: 10%;
    font-weight: bold;
}

#clue-list, .cluelist {
    text-align: center;
}

li {
    font-weight: bold;
    list-style-type: none;
}

.black-box {
    display: block;
    background-color: black;
    height: 1.5em;
    width: 1.5em;
}

.white-box {
    display: block;
    background-color: white;
    height: 1.5em;
    width: 1.5em;
    border: 2px solid black;
}

.cwordRow {
    display: inline-flex;
    margin: auto;
}

.white-box  span {
    font-size: 8px;
    position: relative;
    top: -10px;
    left: 1px;
    font-weight: bold;
}

.letters {
    display: inline;
}

.orange {
    background-color: orange;
}

.button-container {
    margin-bottom: 10%;
}